@model HRPayroll.Models.RptEmpLeaveDetail
<!DOCTYPE html>
<html>
<head>
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link href="~/assets/css/custom.css" rel="stylesheet" />
    <link href="~/assets/css/ListPage.css" rel="stylesheet" />
    <link href="~/assets/plugin/sweetalert/sweetalert.css" rel="stylesheet" />
    <link href="~/assets/css/jquery-confirm.css" rel="stylesheet" />
    <link href="~/assets/plugin/bootstrap-datepicker/bootstrap-datepicker.min.css" rel="stylesheet" />
    <link href="~/assets/css/dataTables.min.css" rel="stylesheet" />

</head>
<body>
    <div class="row" id="EmpTable">
        <div class="col-md-12">
            <div class="card">
                <div class="card-body">
                    <div style="text-align: center;margin-bottom: 5px;"><button type="button" style="background-color:blue; color:white; padding:5px 10px; font-size: 16px;" class="printMe btn btn-danger">Print</button></div>
                    <div class="table">
                        <div class="table-responsive">
                            <table class="table dataTable table-striped" id="outprint">
                                <thead id="tbl">
                                    <tr role="row" class="bg-secondary">
                                        <th>S.No</th>
                                        <th>Employee Name</th>
                                        <th>Father's Name</th>
                                        <th>PFMS Code</th>
                                        <th>Department Name</th>
                                        <th>SubDepartment Name</th>
                                        <th>Designation</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null && Model.RptEmpLeaveDetailList != null)
                                    {
                                        if (Model.RptEmpLeaveDetailList.Count() > 0)
                                        {
                                            var Sn = 0;
                                            foreach (var item in Model.RptEmpLeaveDetailList)
                                            {
                                                Sn = Sn + 1;
                                                <tr role="row" class="odd">
                                                    <td>@Sn</td>
                                                    <td>@item.EmpName </td>
                                                    <td>@item.fathername</td>
                                                    <td>@item.PFMSCode</td>
                                                    <td>@item.DeptName</td>
                                                    <td>@item.SubDeptName</td>
                                                    <td>@item.Designation</td>


                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr>
                                                <td colspan="7"><span>No Data Available</span></td>
                                            </tr>
                                        }
                                    }
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</body>
</html>

<script>
    $(".printMe").click(function () {
        var divToPrint = document.getElementById("outprint");
        newWin = window.open("");
        newWin.document.write(divToPrint.outerHTML);
        newWin.print();
        newWin.close();
    });
</script>
