@model DESDrawing.Models.Applicant

@{
    ViewBag.Title = "ApplicantDetails";
    Layout = "~/Views/Shared/_DirectorLayout.cshtml";
}

<div class="page-wrapper">
    <div class="row page-titles">
        <div class="col-md-12 align-self-center">
            <h3 class="text-themecolor font-20 clearfix"> Application Details</h3>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <!-- Column -->
            <!-- Column -->
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <div class="d-flex justify-content-between">
                            <h2>Application Number: @Model.Applicant_No</h2>
                            @if (Model.Status == "Pending")
                            {
                                <h2 class="btn btn-info">Status : @Model.Status</h2>
                            }
                            else if (Model.Status == "Approved")
                            {
                                <h2 class="btn btn-success">Status : @Model.Status</h2>
                            }
                            else if (Model.Status == "Dispatched")
                            {
                                <h2 class="btn btn-success">Status : @Model.Status</h2>
                            }
                            else if (Model.Status == "Resubmitted")
                            {
                                <h2 class="btn btn-primary">Status : @Model.Status</h2>
                            }
                            else if (Model.Status == "Declined")
                            {
                                <h2 class="btn btn-danger">Status : @Model.Status</h2>
                            }
                            else if (Model.Status == "Query")
                            {
                                <h2 class="btn btn-warning">Status : @Model.Status</h2>
                            }
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5>Applicant Details</h5>
                        <hr>
                        <table style="width: 100%">
                            <tbody>
                                <tr>
                                    <td>Name :</td>
                                    <td><strong>@Model.First_name @Model.Last_name</strong></td>
                                </tr>
                                <tr>
                                    <td>Gender :</td>
                                    <td><strong>@Model.Gender</strong></td>
                                    <td style="display:none"><strong>@Model.PK_Applicant_id</strong></td>
                                </tr>
                                <tr>
                                    <td>Mobile :</td>
                                    <td><strong>@Model.Phone_number</strong></td>
                                </tr>
                                <tr>
                                    <td>Email :</td>
                                    <td><strong>@Model.Email</strong></td>
                                </tr>
                                <tr>
                                    <td>Address :</td>
                                    <td colspan="3"><strong>@Model.Address</strong></td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">

                <div class="card">
                    <div class="card-body">
                        <h5>Location of Installation</h5>
                        <hr>
                        <table style="width: 100%">
                            <tbody>
                                <tr>
                                    <td>Tehsil :</td>
                                    <td><strong>@Model.Tehsil_name</strong></td>
                                </tr>
                                <tr>
                                    <td>Vilage/Town :</td>
                                    <td><strong>@Model.Town_name</strong></td>
                                </tr>
                                <tr>
                                    <td>City :</td>
                                    <td><strong>@Model.District_name</strong></td>
                                </tr>
                                <tr>
                                    <td>State :</td>
                                    <td><strong>@Model.State_Name</strong></td>
                                </tr>
                                <tr>
                                    <td>Post Code :</td>
                                    <td><strong>@Model.Pincode</strong></td>
                                </tr>
                                <tr>
                                    <td>
                                        Installation Type :
                                    </td>
                                    <td><strong>@Model.InstallationType</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5>Details of Licensed Electrical contractor  </h5>
                        <hr>
                        <table style="width: 100%">
                            <tbody>
                                <tr>
                                    <td>Contractor Name :</td>
                                    <td><strong>@Model.LIC_contractor</strong></td>
                                </tr>
                                <tr>
                                    <td>LEC :</td>
                                    <td><strong>@Model.LEC</strong></td>
                                </tr>
                                <tr>
                                    <td>Supervisor Name :</td>
                                    <td><strong>@Model.LIC_supervisor</strong></td>
                                </tr>
                                <tr>
                                    <td>Wireman Name :</td>
                                    <td><strong>@Model.Wireman</strong></td>
                                </tr>
                                <tr>
                                    <td>Address :</td>
                                    <td><strong>@Model.LIC_Address</strong></td>
                                </tr>
                                <tr>
                                    <td>Firm Name :</td>
                                    <td><strong>@Model.FirmName</strong></td>
                                </tr>
                                <tr>
                                    <td>Licensed no :</td>
                                    <td><strong>@Model.LicensedNo</strong></td>
                                </tr>
                                <tr>
                                    <td>Validity :</td>
                                    <td colspan="3"><strong>@Model.LIC_validity</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5>Details of installation  </h5>
                        <hr>
                        <table style="width: 100%">
                            <tbody>
                                <tr>
                                    <td>HT Existing :</td>
                                    <td><strong>@Model.HT_Existing</strong></td>
                                    <td>HT Proposed :</td>
                                    <td><strong>@Model.HT_proposed</strong></td>
                                </tr>
                                <tr>
                                    <td>DG Existing :</td>
                                    <td><strong>@Model.DG_Existing</strong></td>
                                    <td>DG Proposed :</td>
                                    <td><strong>@Model.DG_proposed</strong></td>
                                </tr>
                                <tr>
                                    <td>MSB Existing :</td>
                                    <td><strong>@Model.MSB_Existing</strong></td>
                                    <td>MSB Proposed :</td>
                                    <td><strong>@Model.MSB_proposed</strong></td>
                                </tr>
                                <tr>
                                    <td>TL Existing :</td>
                                    <td><strong>@Model.TL_Existing</strong></td>
                                    <td>TL Proposed :</td>
                                    <td><strong>@Model.TL_proposed</strong></td>
                                </tr>
                                <tr>
                                    <td>DTC Existing :</td>
                                    <td><strong>@Model.DTC_Existing</strong></td>
                                    <td>DTC Proposed :</td>
                                    <td><strong>@Model.DTC_proposed</strong></td>
                                </tr>
                                <tr>
                                    <td>IPP Existing :</td>
                                    <td><strong>@Model.IPP_Existing</strong></td>
                                    <td>IPP Proposed :</td>
                                    <td><strong>@Model.IPP_proposed</strong></td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Total :</td>
                                    <td><strong>@Model.Total</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            @foreach (var i in @Model.DocumentList)
            {
                var extension = Path.GetExtension(i.Doc_filepath);
                <div class="col-lg-4 col-md-6">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title">@i.Document_type (STATUS : @i.Status)</h4>
                            @if (extension == ".jpg" || extension == ".jpeg" || extension == ".png")
                            {
                                <div class="col-md-4"><a class="image-popup-vertical-fit" href="@i.Doc_filepath"><img src="@i.Doc_filepath" alt="image" style="height:350px;width:350px" class="img-responsive "></a><div class="m-t-10"></div></div>
                                @*<div id="input-file-now-custom-3" class="dropify" data-height="500"
            data-default-file=@i.Doc_filepath></div>*@
                            }
                            else
                            {
                                <div class="col-md-4"><a class="image-popup-vertical-fit" href="@i.Doc_filepath"><a href="@i.Doc_filepath" target="_blank" class="btn btn-warning dropify"><i class="fa fa-download"></i></a></a><div class="m-t-10"></div></div>
                                @*<div id="input-file-now-custom-3" class="dropify" data-height="500"
            data-default-file=@i.Doc_filepath></div>*@
                            }

                        </div>
                    </div>
                </div>
            }



            <div class="col-12">

                <div class="card">
                    <div class="card-body">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-body">
                                    <div class="table-responsive">
                                        <table width="100%" class="table table-bordered" cellspacing="0" cellpadding="1">
                                            <thead>
                                                <tr>
                                                    <th>Remark</th>
                                                    <th>Date</th>
                                                    <th>Image</th>
                                                    <th>Given By</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    @if (Model != null && Model.RemarkLists != null)
                                                    {
                                                        if (Model.RemarkLists.Count() > 0)
                                                        {
                                                            foreach (var i in Model.RemarkLists)
                                                            {                                                               
                                                            <tr>
                                                                <td>@i.Remark</td>
                                                                <td>@i.Created_at</td>
                                                                <td>
                                                                    @if (i.Doc_filepath != null)
                                                                    {
                                                                        var extension = Path.GetExtension(i.Doc_filepath);
                                                                        if (extension == ".jpg" || extension == ".jpeg" || extension == ".png")
                                                                        {
                                                                            <img src="@i.Doc_filepath" height="100" width="100" />
                                                                        }
                                                                        else if (extension == ".pdf")
                                                                        {
                                                                            <a href='@i.Doc_filepath.Replace("~","")' height="50" width="50" target="_blank" class="btn btn-warning  ">
                                                                                <i class="fa fa-download"></i>
                                                                            </a>
                                                                        }
                                                                        else
                                                                        {
                                                                            <p>No Image</p>
                                                                        }
                                                                    }
                                                                    else
                                                                    {
                                                                        <p>No Image</p>
                                                                    }
                                                                </td>
                                                                <td>@i.RemarkBy</td>
                                                            </tr>
                                                        }
                                                    }

                                                }

                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            @*@if (Model != null)
                            {
                                if ((Model.Status + "").ToString().ToUpper() == "RESUBMITTED" || (Model.Status + "").ToString().ToUpper() == "PENDING")
                                {
                                    <div class="col-lg-12 m-t-30 m-b-30">
                                        <div class="d-flex justify-content-end">
                                            <button type="button" class="btn btn-primary" style="margin-right: 5px;"
                                                    data-toggle="modal" data-target=".bs-example-modal-lg">
                                                <i class="fa fa-reply"></i>
                                                Reply
                                            </button>
                                            <button type="button" class="btn btn-primary" style="margin-right: 5px;"
                                                    data-toggle="modal" data-target=".bs-example-modal-sm">
                                                <i class="fa fa-reply"></i>
                                                Forwarded
                                            </button>
                                        </div>
                                    </div>

                                }
                            }*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <!---------------------query modal -->
    <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close " data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form action="/Director/SubmitReply" method="post" id="UserFormSubmit" onsubmit="return validate();">
                    <div class="modal-body">
                        <div class="row p-t-20">

                            <!--/span-->
                            <!--/span-->

                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1" class="form-label">Remark</label>
                                    @*<textarea class="form-control" id="Remark" rows="3"></textarea>*@

                                    @Html.TextAreaFor(m => m.Remark, new { @class = "form-control", @Id = "Remark", @name = "Remark", @rows = "3" })
                                    @Html.HiddenFor(m => m.PK_Applicant_id)

                                </div>
                            </div>

                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Upload File</label>
                                    <input class="form-control" onchange="UploadFile(this,'ReplyFile')" type="file" id="File" />
                                    @Html.HiddenFor(m => m.ReplyFile, new { @class = "form-control" })
                                    @*<span id="FileAnchor" style="display: none;" class="input-group-text btn-download"></span>*@
                                    <div class="d-none" id="d1">

                                        <img class="inline-block" src="" target="blank" id="imgReplyFile" alt="user" style="height:50px">

                                    </div>
                                    <div class="d-none" id="d2">
                                        <div class="col-md-4" id="image"></div>

                                    </div>


                                </div>
                            </div>

                            <div class="col-md-12" onchange="Approve()">
                                <div class="form-check">


                                    <label class="btn btn-outline-secondary" id="label1" style="color:black">
                                        <input type="radio" name="Status" id="exampleRadios1" value="Query"> Query
                                    </label>
                                    <label class="btn btn-outline-secondary" id="label2" style="color:black">
                                        <input type="radio" name="Status" id="exampleRadios2" value="Approved"> Approved
                                    </label>
                                    <label class="btn btn-outline-secondary" id="label3" style="color:black">
                                        <input type="radio" name="Status" id="exampleRadios3" value="Decline"> Decline
                                    </label>
                                </div>
                                <div class="form-check ">
                                    @Html.TextBoxFor(m => m.ApprovalID, new { @class = "form-control ", @Id = "ApprovalID", @name = "ApprovalID", @style = "display:none", @onkeypress = "return onlyNos(event,this)", @placeholder = "Enter Approval ID" })
                                </div>

                            </div>


                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-primary">Submit</button>

                                    @*<button type="button" class="btn btn-primary">

                                            Submit
                                        </button>*@
                                </div>
                            </div>

                        </div>
                    </div>
                </form>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-danger waves-effect text-left"
                        data-dismiss="modal">Close</button>
                </div> -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>


    <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mysmallModalLabel"
         aria-hidden="true" style="display: none;">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">

                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                </div>
                <form action="/Director/ForwardApplication" method="post" onsubmit="return validated();">
                    <div class="modal-body">
                        <div class="row p-t-20">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="form-control-placeholder" for="VendorName">Select User</label>


                                    @Html.DropDownListFor(m => m.UserId, new SelectList(ViewBag.User, "Value", "Text"), "---select----", new { @class = "form-control" })
                                    @Html.HiddenFor(m => m.PK_Applicant_id)

                                </div>
                            </div>
                            <!--/span-->
                            <!--/span-->

                            <div class="col-md-12 ">
                                <div class="form-group">
                                    <label for="exampleFormControlTextarea1" class="form-label">Remark</label>
                                    @*<textarea class="form-control" id="ForwardRemark" rows="3"></textarea>*@
                                    @Html.TextAreaFor(m => m.ForwardRemark, new { @class = "form-control", @Id = "ForwardRemark", @name = "ForwardRemark", @rows = "3" })
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Upload File</label>
                                    <input class="form-control" onchange="UploadForwardFile(this,'ForwardFile')" type="file" id="FFile" />
                                    @Html.HiddenFor(m => m.ForwardFile, new { @class = "form-control" })
                                    @*<span id="FFileAnchor" style="display: none;" class="input-group-text btn-download"></span>*@
                                    <div class="d-none" id="d3">
                                        <img class="inline-block " src="" id="imgForwardFile" alt="user" style="height:50px">
                                    </div>
                                    <div class="d-none" id="d4">
                                        <div class="col-md-4" id="Forwardimage"></div>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="text-center">
                                    <button class="btn btn-primary">Submit</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <!-- <div class="modal-footer">
                    <button type="button" class="btn btn-danger waves-effect text-left"
                        data-dismiss="modal">Close</button>
                </div> -->
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
    function UploadFile(obj, type) {
        debugger;
        var filename = $(obj)[0].files[0].name;
        var fileId = $(obj).attr("id");
         var ext = obj.value.match(/\.(.+)$/)[1];


        switch (ext) {
            case 'jpg':
            case 'jpeg':
            case 'png':
            case 'pdf':
                var fileSize = ($("#" + fileId)[0].files[0].size / 1024 / 1024);
                //if (fileSize > 2) {
                //    swal("", "File size should not exceed 2 MB.\r\nफाइल का साइज़ 2 MB से अधिक नहीं होना चाहिए।", "warning");
                //    return false;
                //}
                //else {
                var data = new FormData();
                var files = $("#" + fileId).get(0).files;
                if (files.length > 0) {
                    data.append("File", files[0]);
                }
                data.append("type", type);
                $("#divLoader").show();
                $.ajax({
                    url: '@Url.Action("AddImageFile", "Applicant")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        $("#divLoader").hide();

                        if (response != null) {
                            if (response.result) {
                                var result = response.fpath;

                                if (ext == "jpg" || ext == "jpeg" || ext == "png")
                    {
                          $('#d1').removeClass('d-none');
                          $('#d2').addClass('d-none');
                    }
                    else
                    {
                       $('#d2').removeClass('d-none');
                       $('#d1').addClass('d-none');
                                     $('#image').html(' <a href="'+result+'" target="_blank" class="btn btn-warning"><i class="fa fa-download"></i></a>');
                    }
                                $("#" + type + "").val(response.fpath);

                                if ($("#" + type + "").val() != '') {

                                    $("#img" + type + "").attr("src", response.fpath);
                                }
                                swal("", "File upload successfully. ", "success")
                            }
                            else {
                                $("#" + type + "").val('');
                                swal("", response.mesg, "error")
                            }
                        }
                        else {
                            swal("", "Fail to Upload File", "error")
                        }
                        return false;

                    },
                    error: function (e) {

                        $("#divLoader").hide();
                        swal("", "An Error Occured while uploading file", "error");
                    }
                });

                /*}*/
                break;
            default:
                swal("", 'File should be in PNG/JPG/JPEG/pdf format./फाइल PNG/JPG/JPEG/pdf प्रारूप में होनी चाहिए।', "warning");
                this.value = '';
                return false;
        }

    }

   function UploadForwardFile(obj, type) {
        debugger;
        var filename = $(obj)[0].files[0].name;
        var fileId = $(obj).attr("id");
         var ext = obj.value.match(/\.(.+)$/)[1];


        switch (ext) {
            case 'jpg':
            case 'jpeg':
            case 'png':
            case 'pdf':
                var fileSize = ($("#" + fileId)[0].files[0].size / 1024 / 1024);

                var data = new FormData();
                var files = $("#" + fileId).get(0).files;
                if (files.length > 0) {
                    data.append("File", files[0]);
                }
                data.append("type", type);
                $("#divLoader").show();
                $.ajax({
                    url: '@Url.Action("AddImageFile", "Applicant")',
                    type: "POST",
                    processData: false,
                    contentType: false,
                    data: data,
                    success: function (response) {
                        $("#divLoader").hide();

                        if (response != null) {
                            if (response.result) {
                                var result = response.fpath;

                                if (ext == "jpg" || ext == "jpeg" || ext == "png")
                    {
                          $('#d3').removeClass('d-none');
                          $('#d4').addClass('d-none');
                    }
                    else
                    {
                       $('#d4').removeClass('d-none');
                       $('#d3').addClass('d-none');
                                     $('#Forwardimage').html(' <a href="'+result+'" target="_blank" class="btn btn-warning"><i class="fa fa-download"></i></a>');
                    }
                                $("#" + type + "").val(response.fpath);

                                if ($("#" + type + "").val() != '') {

                                    $("#img" + type + "").attr("src", response.fpath);
                                }
                                swal("", "File upload successfully. ", "success")
                            }
                            else {
                                $("#" + type + "").val('');
                                swal("", response.mesg, "error")
                            }
                        }
                        else {
                            swal("", "Fail to Upload File", "error")
                        }
                        return false;

                    },
                    error: function (e) {

                        $("#divLoader").hide();
                        swal("", "An Error Occured while uploading file", "error");
                    }
                });

                /*}*/
                break;
            default:
                swal("", 'File should be in PNG/JPG/JPEG/pdf format./फाइल PNG/JPG/JPEG/pdf प्रारूप में होनी चाहिए।', "warning");
                this.value = '';
                return false;
        }

    }
   function validate() {
       debugger;
       var value = $("input:radio[name=Status]:checked").val();
       if ($('#Remark').val() == '' || $('#Remark').val() == '0' || $('#Remark').val() == undefined) {
            swal("", "Please Enter Remark..", "warning");
            $('#Remark').focus();
            return false;

       }
       if (value == '' || value == '0' || value == undefined) {
            swal("", "Please Select Status..", "warning");
            $('#Remark').focus();
            return false;

       }
       if (value == "Approved") {
           if ($('#ApprovalID').val() == '' || $('#ApprovalID').val() == '0' || $('#ApprovalID').val() == undefined) {
               swal("", "Please Enter Approval ID..", "warning");
               $('#Remark').focus();
               return false;
           }
       }

    }

     function validated() {
       debugger;
        if ($('#UserId').val() == '' || $('#UserId').val() == '0' || $('#UserId').val() == undefined) {
            swal("", "Please Select User..", "warning");
            $('#UserId').focus();
            return false;

       }
        if ($('#ForwardRemark').val() == '' || $('#ForwardRemark').val() == '0' || $('#ForwardRemark').val() == undefined) {
            swal("", "Please Enter Remark..", "warning");
            $('#ForwardRemark').focus();
            return false;

       }


    }

    //$('.Close').click(function () {
    //    debugger;
    //    $('#Remark').val('');
    //    $('#ReplyFile').val('');
    //    $('#exampleRadios1').val('');
    //    $('#exampleRadios2').val('');
    //    $('#exampleRadios3').val('');

    //})
    function Approve()
    {
        debugger;
        var value = $("input:radio[name=Status]:checked").val();
        //var id = $("input:radio[name=Status]:checked").attr("class");
        //$(id).css("color", "red");
        if (value == "Approved") {
            $('#ApprovalID').show();
            $("#label2").css("background-color", "green")
            $("#label1").css("background-color", "gray")
            $("#label3").css("background-color", "gray")
        }
        else if (value == "Query") {
            $('#ApprovalID').hide();
            $("#label1").css("background-color", "green")
            $("#label3").css("background-color", "gray")
            $("#label2").css("background-color", "gray")
        }
        else {
              $('#ApprovalID').hide();
            $("#label3").css("background-color", "green")
            $("#label1").css("background-color", "gray")
            $("#label2").css("background-color", "gray")
        }
        }
     function onlyNos(e, t) {
        try {
            if (window.event) {
                var charCode = window.event.keyCode;
            }
            else if (e) {
                var charCode = e.which;
            }
            else { return true; }
            if (charCode > 31 && (charCode < 48 || charCode > 57)) {
                return false;
            }
            return true;
        }
        catch (err) {
            alert(err.Description);
        }

        }



    </script>
