@model HRPayroll.Models.ReportBonus

@{
    ViewBag.Title = "BonusReport";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="container-fluid">
    <div class="page-wrapper">
        <div class="card">
            <div class="card-bod1" style="padding: 8px; background: #e7e7e7;">
                <div class="block-header py-lg-4 py-3">
                    <div class="row page-titles">
                        <div class="col-md-12 align-self-center">
                            <h3 class="text-themecolor font-20 clearfix" style="text-align:center">Bonus Summary Report</h3>
                        </div>
                    </div>
                </div>
                <form method="post" id="form" onsubmit="return ValidateForm()">

                    <div class="container-fluid">
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <div class="card card-outline-info">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @{
                                                    string Code = (string)TempData["code"];
                                                    string msg = (string)TempData["Msg"];
                                                    if (!string.IsNullOrEmpty(Code))
                                                    {
                                                        if (Code == "1")
                                                        {
                                                            <div class="alert alert-success msgdiv" id="msgdiv">
                                                                <strong>Success!</strong> @msg
                                                            </div>
                                                            <script type="text/javascript">
                                                                window.setTimeout(function () {
                                                                    /*location.href = '';*/
                                                                    $('#msgdiv').hide();
                                                                }, 5000);
                                                            </script>
                                                        }
                                                        else
                                                        {
                                                            <div class="alert alert-danger msgdiv">
                                                                <strong>Error!</strong> @msg
                                                            </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="form-body">
                                            <div class="row p-t-20">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Select Department</label>
                                                        @Html.DropDownListFor(model => model.Fk_DepartmentId, new SelectList(ViewBag.Department, "Value", "Text"), "-Select Department-", new { @class = "form-control", @onchange = "BindSubDepartment();" })
                                                        @Html.HiddenFor(model => model.ID)
                                                        @Html.HiddenFor(model => model.Fk_DepartmentId)
                                                        @Html.ValidationMessageFor(m => m.Fk_DepartmentId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Select Sub Department</label>
                                                        @Html.DropDownListFor(model => model.Fk_SubDeptId, new SelectList(ViewBag.SubDepartment, "Value", "Text"), "-Select SubDepartment-", new
                                                        {
                                                            @class = "form-control",
                                                       @onchange = "BindEmployee();"
                                                        })
                                                        @Html.HiddenFor(model => model.Fk_SubDeptId)
                                                        @Html.ValidationMessageFor(m => m.Fk_SubDeptId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>


                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Select Year:</label>
                                                        <select class="form-control" id="Year" name="Year">
                                                            <option value="">--Select--</option>
                                                        </select>
                                                        @Html.HiddenFor(model => model.Year)
                                                        @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Order By</label>
                                                        @Html.DropDownListFor(m => m.OrderBy, new List<SelectListItem>
                                                                      {
                                                          new SelectListItem{ Text="-- Select --", Value = "" },
                                                                      new SelectListItem{ Text="Employee Name", Value = "1" },
                                                                      new SelectListItem{ Text="Dpt. Employee Code", Value = "2" },
                                                             }, new { @class = "form-control" })
                                                        @Html.ValidationMessageFor(m => m.OrderBy, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <button class="btn btn-info mb-2" style="color:white;">
                                Show Report
                            </button>
                        </div>
                    </div>
                    <div class="container-fluid">
                        <div class="row">
                            <!-- column -->
                            <div class="col-12">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="table" id="tbl">
                                            <div class="table-responsive">
                                                <table id="example23" class="display nowrap table table-hover table-striped table-bordered" cellspacing="0" width="100%">
                                                    <thead>
                                                        <tr role="row" class="bg-secondary">
                                                            <th>S.No</th>
                                                            <th>EmpName</th>
                                                            <th>PFMSCode</th>
                                                            <th>FatherName</th>
                                                            <th>Department</th>
                                                            <th>SubDepartment</th>
                                                            <th>AccountNo.</th>
                                                            <th>DptEmpCode</th>
                                                            <th>DesigName</th>
                                                            <th>CashAmt</th>
                                                            <th>PFAmt</th>
                                                            <th>OtherAllAmt</th>
                                                            <th>OtherDedAmt</th>
                                                            <th>GrossAmt</th>
                                                            <th>NetAmt</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        @if (Model.List != null)
                                                        {
                                                            var sn = 1;
                                                            foreach (var item in Model.List)
                                                            {
                                                                <tr role="row" class="odd">
                                                                    <td>@sn</td>
                                                                    <td>@item.empname</td>
                                                                    <td>@item.pfmscode</td>
                                                                    <td>@item.FName</td>
                                                                    <td>@item.DepartmentHead</td>
                                                                    <td>@item.SubDeptName </td>
                                                                    <td>@item.AccNo</td>
                                                                    <td>@item.DptEmpCode</td>
                                                                    <td>@item.DesignationName</td>
                                                                    <td>@item.CashAmt</td>
                                                                    <td>@item.PFAmt</td>
                                                                    <td>@item.OtherAllAmt</td>
                                                                    <td>@item.OtherDedAmt</td>
                                                                    <td>@item.GrossAmt</td>
                                                                    <td>@item.NetAmount</td>
                                                                </tr>
                                                                sn++;
                                                            }
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script>

    

    $(function () {
        //Reference the DropDownList.
        var ddlYears = $("#Year");

        //Determine the Current Year.
        var currentYear = (new Date()).getFullYear();

        //Loop and add the Year values to DropDownList.
        for (var i = 2000; i <= currentYear; i++) {
            var option = $("<option />");
            option.html(i);
            option.val(i);
            ddlYears.append(option);
        }
    });


    function BindSubDepartment(id) {
        debugger;
        var DepartmentId = $('#Fk_DepartmentId').val();
        $.ajax({
            url: '/Employee/GetSubDepartment',
            type: 'post',
            data: { DepartmentId: DepartmentId },
            dataType: 'json',
            containtType: 'aplication/json;charset=utf-8',
            success: function (data) {
                if (data != null) {
                    $('#Fk_SubDeptId').empty();
                    $('#Fk_SubDeptId').append('<option>---Select----</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#Fk_SubDeptId').append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                }
            },
            error: function (error) {
            }
        })
    }


    function ValidateForm() {
        debugger;

        if ($('#Fk_DepartmentId').val() == '' || $('#Fk_DepartmentId').val() == '0' || $('#Fk_DepartmentId').val() == null) {
            swal("", "Please select Department..", "warning");
            $('#Fk_DepartmentId').focus();
            return false;
        }
        if ($('#Fk_SubDeptId').val() == '' || $('#Fk_SubDeptId').val() == '0' || $('#Fk_SubDeptId').val() == null) {
            swal("", "Please select Sub Department..", "warning");
            $('#Fk_SubDeptId').focus();
            return false;
        }
        if ($('#Year').val() == '' || $('#Year').val() == '0' || $('#Year').val() == null) {
            swal("", "Please select Year..", "warning");
            $('#Year').focus();
            return false;
        }
        else {
            return true;
            $("#form").submit();
        }
    }

</script>

