@model HRPayroll.Models.GenerateSalary
@{
    ViewBag.Title = "GenerateSalary";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<div class="container-fluid">
    <div class="page-wrapper">
        <div class="card">
            <div class="card-bod1" style="padding: 8px; background: #e7e7e7;">
                <div class="block-header py-lg-4 py-3">
                    <div class="row page-titles">
                        <div class="col-md-12 align-self-center">
                            <h3 class="text-themecolor font-20 clearfix" style="text-align:center">Generate Salary</h3>
                        </div>
                    </div>
                </div>
                <form method="post" id="form" onsubmit="return ValidateForm()">
                    <div class="container-fluid">
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <div class="card card-outline-info">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @{
                                                    string Code = (string)TempData["code"];
                                                    string msg = (string)TempData["Msg"];
                                                    if (!string.IsNullOrEmpty(Code))
                                                    {
                                                        if (Code == "1")
                                                        {
                                                            <div class="alert alert-success msgdiv">
                                                                <strong>Success!</strong> @msg
                                                            </div>
                                                            <script type="text/javascript">
                                                                window.setTimeout(function () {
                                                                    location.href = '/Employee/GenerateSalary';
                                                                }, 5000);
                                                            </script>
                                                        }
                                                        else
                                                        {
                                                            <div class="alert alert-danger msgdiv">
                                                                <strong>Error!</strong> @msg
                                                            </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <h5>Search</h5>
                                        <div class="form-body">
                                            <div class="row p-t-20">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Select Employee Category<span class="text-danger">*</span></label>
                                                        @Html.DropDownListFor(model => model.WTypeId, new SelectList(ViewBag.Type, "Value", "Text"), "-Select Type-", new { @class = "form-control", @onchange = "GetEmployee()" })
                                                        @Html.HiddenFor(model => model.ID)
                                                        @Html.HiddenFor(model => model.WTypeId)
                                                        @Html.ValidationMessageFor(m => m.WTypeId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Select Department<span class="text-danger">*</span></label>
                                                        @Html.DropDownListFor(model => model.Fk_DepartmentId, new SelectList(ViewBag.Department, "Value", "Text"), "-Select Department-", new { @class = "form-control", @onchange = "GetSubDepartment();" })
                                                        @Html.HiddenFor(model => model.ID)
                                                        @Html.HiddenFor(model => model.Fk_DepartmentId)
                                                        @Html.ValidationMessageFor(m => m.Fk_DepartmentId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Select Sub Department<span class="text-danger">*</span></label>
                                                        @Html.DropDownListFor(model => model.Fk_SubDeptId, new SelectList(String.Empty, "Value", "Text"), "-Select SubDepartment-", new { @class = "form-control", @onchange = "GetEmployee()" })
                                                        @Html.HiddenFor(model => model.ID)
                                                        @Html.HiddenFor(model => model.Fk_SubDeptId)
                                                        @Html.ValidationMessageFor(m => m.Fk_SubDeptId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row p-t-20">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Salary For<span class="text-danger">*</span></label><br />

                                                        <input type="radio" name="salaryFor" checked="checked" id="salaryFor" onclick="change()" value="2" />All Employee
                                                        <input type="radio" name="salaryFor" id="salaryFor1" onclick="change()" value="1" />One Employee

                                                    </div>
                                                </div>

                                                <div class="col-md-4 d-none" id="emp">
                                                    <div class="form-group">
                                                        <label class="form-label">Select Employee<span class="text-danger">*</span></label>
                                                        @Html.DropDownListFor(model => model.EmpId, new SelectList(String.Empty, "Value", "Text"), "-Select Employee-", new { @class = "form-control" })
                                                        @Html.HiddenFor(model => model.ID)
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row p-t-20">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Month<span class="text-danger">*</span></label>
                                                        @Html.DropDownListFor(model => model.Month, new SelectList(ViewBag.Month, "Value", "Text"), "-Select Month-", new { @class = "form-control" })
                                                        @Html.HiddenFor(model => model.ID)
                                                        @Html.HiddenFor(model => model.Month)
                                                        @Html.ValidationMessageFor(m => m.Month, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Year<span class="text-danger">*</span></label>
                                                        <select class="form-control" id="Year" name="Year">
                                                            <option value="">--select--</option>
                                                        </select>
                                                        @Html.HiddenFor(model => model.Year)
                                                        @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                                <div class="col-md-12 text-center mt-2">
                                                    <input type="submit" value="Generate Salary" class="btn btn-success" />
                                                </div>
                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                
                    </div>
                 
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    
    function BindSubDepartment(id) {
        debugger;
        var DepartmentId = $('#Fk_DepartmentId').val();
        $.ajax({
            url: '/Employee/GetSubDepartment',
            type: 'post',
            data: { DepartmentId: DepartmentId },
            dataType: 'json',
            containtType: 'aplication/json;charset=utf-8',
            success: function (data) {
                if (data != null) {
                    $('#Fk_SubDeptId').empty();
                    $('#Fk_SubDeptId').append('<option>---Select----</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#Fk_SubDeptId').append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                    if (id > 0) {
                        $("#Fk_SubDeptId").val(@Model.Fk_DepartmentId);
                    }
                }
            },
            error: function (error) {
            }
        })
    }

    function ValidateForm() {
        debugger;
        if ($('#WTypeId').val() == '' || $('#WTypeId').val() == '0' || $('#WTypeId').val() == null) {
            swal("", "Please Select Employee Category...", "warning");
            $('#WTypeId').focus();
            return false;
        }
        if ($('#Fk_DepartmentId').val() == '' || $('#Fk_DepartmentId').val() == null) {
            swal("", "Please Select Department...", "warning");
            $('#Fk_DepartmentId').focus();
            return false;
        }
        if ($('#Fk_SubDeptId').val() == '' || $('#Fk_SubDeptId').val() == null) {
            swal("", "Please Select Sub-Department..", "warning");
            $('#Fk_SubDeptId').focus();
            return false;
        }
        if ($('#salaryFor1').is(":checked")) {
            if ($('#EmpId').val() == '' || $('#EmpId').val() == null) {
                swal("", "Please Select Employee..", "warning");
                $('#EmpId').focus();
                return false;
            }
        }
        if ($('#Month').val() == '' || $('#Month').val() == null) {
            swal("", "Please select Month..", "warning");
            $('#Month').focus();
            return false;
        }
        if ($('#Year').val() == ''  || $('#Year').val() == null) {
            swal("", "Please Select Year.", "warning");
            $('#Year').focus();
            return false;
        }
        else {
            return true;
            $("#form").submit();
        }
    }

    function change() {
        debugger;
        if ($('#salaryFor1').is(":checked")) {
            $('#emp').removeClass('d-none');
        }
        else if ($('#salaryFor').is(":checked")) {
            $('#emp').addClass('d-none');
            $('#EmpId').val('')
        }
        else {
            $('#emp').addClass('d-none');
            $('#EmpId').val('')
        }
    }

     $(function () {
        //Reference the DropDownList.
        var ddlYears = $("#Year");

        //Determine the Current Year.
        var currentYear = (new Date()).getFullYear();

        //Loop and add the Year values to DropDownList.
        for (var i = 2000; i <= currentYear; i++) {
            var option = $("<option />");
            option.html(i);
            option.val(i);
            ddlYears.append(option);
        }
     });

    function GetSubDepartment(id) {
        debugger;
        var DepartmentId = $('#Fk_DepartmentId').val();
        if (DepartmentId > 0) {
            $.ajax({
                type: 'post',
                url: '/Employee/GetSubCategory',
                data: { DepartmentId: DepartmentId },
                dataType: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        $("#Fk_SubDeptId").children().remove().end().append($("<option></option>").val("").text("-Select-"));
                        for (var i = 0; i < data.length; i++) {
                            $('#Fk_SubDeptId').append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>')
                        }

                    }
                    else {
                        $("#Fk_SubDeptId").children().remove().end().append($("<option></option>").val("").text("-Select-"));
                    }
                    if (id > 0) {
                        $('#Fk_SubDeptId').val(id);
                    }
                },
                error: function (e) {
                    $("#Fk_SubDeptId").children().remove().end().append($("<option></option>").val("").text("-Select-"));
                }

            })
        }
        else {
            $("#Fk_SubDeptId").children().remove().end().append($("<option></option>").val("").text("-Select-"));
        }
    }


    function GetEmployee(id) {
        debugger;
    
        var WTypeId = parseInt($('#WTypeId').val());
        var Fk_SubDeptId = parseInt($('#Fk_SubDeptId').val());
        var DepartmentId = parseInt($('#Fk_DepartmentId').val());

        if (DepartmentId > 0 && WTypeId > 0 && Fk_SubDeptId>0) {
            $.ajax({
                type: 'post',
                url: '/Employee/GetEmployeeDropdown',
                data: { WTypeId: WTypeId, DepartmentId: DepartmentId, Fk_SubDeptId: Fk_SubDeptId },
                dataType: 'json',
                success: function (data) {
                    if (data.length > 0) {
                        $("#EmpId").children().remove().end().append($("<option></option>").val("").text("-Select-"));
                        for (var i = 0; i < data.length; i++) {
                            $('#EmpId').append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>')
                        }

                    }
                    else {
                        $("#EmpId").children().remove().end().append($("<option></option>").val("").text("-Select-"));
                    }
                    if (id > 0) {
                        $('#EmpId').val(id);
                    }
                },
                error: function (e) {
                    $("#EmpId").children().remove().end().append($("<option></option>").val("").text("-Select-"));
                }

            })
        }
        else {
            $("#EmpId").children().remove().end().append($("<option></option>").val("").text("-Select-"));
        }
    }

</script>

