@model HRPayroll.Models.EmployeePF

@{
    ViewBag.Title = "GenerateSalaryBonus";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}


<style>
    button.btn.btn-info.mb-2 {
        margin-top: 24px;
    }
</style>
<div class="container-fluid">
    <div class="page-wrapper">
        <div class="card">
            <div class="card-bod1" style="padding: 8px; background: #e7e7e7;">
                <div class="block-header py-lg-4 py-3">
                    <div class="row page-titles">
                        <div class="col-md-12 align-self-center">
                            <h3 class="text-themecolor font-20 clearfix" style="text-align:center">Generate Salary Bonus</h3>
                        </div>
                    </div>
                </div>
                <form method="post" id="form" onsubmit="return ValidateForm()">

                    <div class="container-fluid">
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <div class="card card-outline-info">
                                    <div class="card-body">
                                        <div class="row">
                                            <div class="col-sm-12">
                                                @{
                                                    string Code = (string)TempData["code"];
                                                    string msg = (string)TempData["Msg"];
                                                    if (!string.IsNullOrEmpty(Code))
                                                    {
                                                        if (Code == "1")
                                                        {
                                                            <div class="alert alert-success msgdiv" id="msgdiv">
                                                                <strong>Success!</strong> @msg
                                                            </div>
                                                            <script type="text/javascript">
                                                                window.setTimeout(function () {
                                                                    /*location.href = '';*/
                                                                    $('#msgdiv').hide();
                                                                }, 5000);
                                                            </script>
                                                        }
                                                        else
                                                        {
                                                            <div class="alert alert-danger msgdiv">
                                                                <strong>Error!</strong> @msg
                                                            </div>
                                                        }
                                                    }
                                                }
                                            </div>
                                        </div>
                                        <div class="form-body">
                                            <div class="row p-t-20">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Employee Category</label>
                                                        @Html.DropDownListFor(model => model.WTypeId, new SelectList(ViewBag.Category, "Value", "Text"), "-Select Category-", new { @class = "form-control" })
                                                        @Html.HiddenFor(model => model.WTypeId)
                                                        @Html.ValidationMessageFor(m => m.WTypeId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Select Department</label>
                                                        @Html.DropDownListFor(model => model.Fk_DepartmentId, new SelectList(ViewBag.Department, "Value", "Text"), "-Select Department-", new { @class = "form-control", @onchange = "BindSubDepartment();" })
                                                        @Html.HiddenFor(model => model.ID)
                                                        @Html.HiddenFor(model => model.Fk_DepartmentId)
                                                        @Html.ValidationMessageFor(m => m.Fk_DepartmentId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Select Sub Department</label>
                                                        @Html.DropDownListFor(model => model.Fk_SubDeptId, new SelectList(ViewBag.SubDepartment, "Value", "Text"), "-Select SubDepartment-", new
                                                        {
                                                            @class = "form-control",
                                                       @onchange = "BindEmployee();"
                                                        })
                                                        @Html.HiddenFor(model => model.Fk_SubDeptId)
                                                        @Html.ValidationMessageFor(m => m.Fk_SubDeptId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Salary For</label><br />
                                                        <input type="radio" name="salaryFor" id="salaryFor" onclick="change()" value="1" />All Employee
                                                        <input type="radio" name="salaryFor" id="salaryFor1" onclick="change()" value="2" />One Employee
                                                    </div>
                                                </div>

                                                <div class="col-md-4 d-none" id="emp">
                                                    <div class="form-group">
                                                        <label class="form-label">Select Employee</label>
                                                        @Html.DropDownListFor(model => model.Fk_EmpId, new SelectList(ViewBag.Employee, "Value", "Text"), "-Select Employee-", new { @class = "form-control" })
                                                        @Html.HiddenFor(model => model.Fk_EmpId)
                                                        @Html.ValidationMessageFor(m => m.Fk_EmpId, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label class="form-label">Select Year:</label>
                                                        <select class="form-control" id="Year" name="Year">
                                                            <option value="">--Select--</option>
                                                        </select>
                                                        @Html.HiddenFor(model => model.Year)
                                                        @Html.ValidationMessageFor(m => m.Year, "", new { @class = "text-danger" })
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 mt-2">
                            <button class="btn btn-info mb-2" style="color:white;">
                                Generate Bonus
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function change() {
        debugger;
        if ($('#salaryFor1').is(":checked")) {
            $('#emp').removeClass('d-none');
        }
        else if ($('#salaryFor').is(":checked")) {
            $('#emp').addClass('d-none');
            $('#EmpId').val('')
        }
        else {
            $('#emp').addClass('d-none');
            $('#EmpId').val('')
        }
    }


    function BindEmployee(id) {
        debugger;
        var SubDeptId = $('#Fk_SubDeptId').val();
        $.ajax({
            url: '/Employee/GetEmpCode',
            type: 'post',
            data: { SubDeptId: SubDeptId },
            dataType: 'json',
            containtType: 'aplication/json;charset=utf-8',
            success: function (data) {
                if (data != null) {
                    $('#Fk_EmpId').empty();
                    $('#Fk_EmpId').append('<option>---Select----</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#Fk_EmpId').append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                }
            },
            error: function (error) {
            }
        })
    }


    $(function () {
        //Reference the DropDownList.
        var ddlYears = $("#Year");

        //Determine the Current Year.
        var currentYear = (new Date()).getFullYear();

        //Loop and add the Year values to DropDownList.
        for (var i = 2000; i <= currentYear; i++) {
            var option = $("<option />");
            option.html(i);
            option.val(i);
            ddlYears.append(option);
        }
    });


    function BindSubDepartment(id) {
        debugger;
        var DepartmentId = $('#Fk_DepartmentId').val();
        $.ajax({
            url: '/Employee/GetSubDepartment',
            type: 'post',
            data: { DepartmentId: DepartmentId },
            dataType: 'json',
            containtType: 'aplication/json;charset=utf-8',
            success: function (data) {
                if (data != null) {
                    $('#Fk_SubDeptId').empty();
                    $('#Fk_SubDeptId').append('<option>---Select----</option>');
                    for (var i = 0; i < data.length; i++) {
                        $('#Fk_SubDeptId').append('<option value=' + data[i].Value + '>' + data[i].Text + '</option>');
                    }
                }
            },
            error: function (error) {
            }
        })
    }


    function ValidateForm() {
        debugger;
        if ($('#WTypeId').val() == '' || $('#WTypeId').val() == '0' || $('#WTypeId').val() == null) {
            swal("", "Please select Working Type..", "warning");
            $('#WTypeId').focus();
            return false;
        }
        if ($('#Fk_DepartmentId').val() == '' || $('#Fk_DepartmentId').val() == '0' || $('#Fk_DepartmentId').val() == null) {
            swal("", "Please select Department..", "warning");
            $('#Fk_DepartmentId').focus();
            return false;
        }
        if ($('#Fk_SubDeptId').val() == '' || $('#Fk_SubDeptId').val() == '0' || $('#Fk_SubDeptId').val() == null) {
            swal("", "Please select Sub Department..", "warning");
            $('#Fk_SubDeptId').focus();
            return false;
        }
        if ($('#Year').val() == '' || $('#Year').val() == '0' || $('#Year').val() == null) {
            swal("", "Please select Year..", "warning");
            $('#Year').focus();
            return false;
        }
        else {
            return true;
            $("#form").submit();
        }
    }
</script>
